{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ITC-Tour</title>
    <link rel="shortcut icon" href="{%static 'images/icon.ico' %}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href= "{%static 'css/placement.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}"> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mirza" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
  </head>
  <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              ChEA|IIChE
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'Chemical' %}">What is Chemical Engineering?</a></li>
              <li><a href="{% url 'aboutchea'%}">What is Chea and IIche?</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'photo'%}">Photo Gallery</a></li>

            </ul>
            </li>
            <li><a href="{% url 'news' %}">EVENTS</a></li>
          <!-- <li><a href="{% url 'intern' %}">INTERNSHIPS AND PLACEMENTS</a></li> -->
            <li><a href="{% url 'post_list' %}">TECH BLOG</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TEAM<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'cheateam17' %}" target="_blank">2017-18</a></li>
                <li><a href="{% url 'team' %}" target="_blank">2018-19</a></li>
                <!-- <li><a href="{% url 'iicheteam' %}" target="_blank">IIche 18-19</a></li> -->

                <!-- <li><a href="{% url 'iicheteam17' %}" target="_blank">IIche 17-18</a></li> -->
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li>
              <a href="{% url 'post_new' %}" >NEW POST</a>
            </li>

            <li>
              <a href="{% url 'post_draft_list' %}">DRAFTS</a>
            </li>
            <li>
              <a href="{% url 'logout' %}" >LOG OUT</a>
            </li>

            <li>
              <a >WELCOME: {{ user.username }}</a>
            </li>
              {% else %}
              <!-- <li><a class='nav navbar-right' href="{% url 'login' %}" ><span class="glyphicon glyphicon-user"></span></a></li> -->
            {% endif %}

          </ul>
      </div>
    </nav>
    </div>
    <div class="year">
      <h1 class="calendar">Industrial Tour to ITC</h1>
    </div>
    <!-- <div class="image">
      <img class="imgs" src="{%static 'images/plac.JPG'%}" alt="image">
    </div> -->
    <div class="content">
      <p class="contentin">An Industrial visit was conducted to ITC paperboards and speciality papers division, Bhadrachalam for the students of B.Tech II year on 21st October, 2017.A total of 46 students accompanied by our revered faculties DR. Murli Mohan and Dr…..  started for the trip in the early morning at 3 am and reached Bhadrachalam at 7 am.<br><br>
      Students visited the famous temple of Lord Rama and then proceeded for ITC PSPD, Sarapaka. Reaching the plant at  9:30 am. They were welcomed by Mr……… and Mr. ………., Managers at ITC and also the distinguished alumni of NIT Warangal.<br><br>
      Students were given a seminar on the paper manufacturing process in detail by Mr. ……; and a brief overview about the Environment Conservation initiatives and Corporate Social responsibilities undertaken by ITC was also presented. It is worthy to be mentioned that ITC is the only Carbon Positive Company in our country,<br><br>
      The students proceeded towards the Paper Machine 7 of the plant, after Lunch at the Plant’s own cafeteria. Mr………. guided the students throughout the process and explained the mechanisms of continuous monitoring of paper quality through control rooms. Students were grateful to Dr. A. Sarath Babu, HOD and ITC functioneries for this opportunity and the trip was an overall success with the initiatives and efforts of Sourabh Harale, Branch Representative.<br><br>
</p>
    </div>
    <div class="foot">
      <p>Chemical Engineering Department</p>
      <p>National Institute of Technology, Warangal</p>
      <p>&copy;&ensp;Kumar Abhishek & Shreyans Jain</p>
    </div>
    <script
    src="http://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
    crossorigin="anonymous"></script>  <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
