*{
  margin: 0px;
  padding: 0px;
}
.leftbar{
  width:35%;

  background-color: rgba(255,255,255,0.8);
  margin-left: 10px;
  margin-top: 30px;

  height: 100%;
}
#navimg{
  height: 60px;
  width: 60px;
  margin-top: -20px;
}
#navwo{
  margin-top: -45px;
  margin-left: 60px;
  font-weight: 570;
  color: #862d86;
}
.foot{
  margin-top: 100px;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.page{
  font-weight: bolder;
  float: right;
  margin-right: 80px;
  margin-top: -30px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
.articleheading{
  margin-top: -20px;
  background-color:#BF2904;
}
.con{
  text-align: justify;
  margin-left: 6px;
  margin-right: 4px;
  font-family: 'Thasadith', sans-serif;
  color: #444444;
  font-weight: bold;
  font-size: 20px;
}
.start{
  font-size: 27px;
}
.what{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
font-family: 'Staatliches', cursive;
letter-spacing: 3px;
word-spacing: 2px;
  font-size: 40px;
}
body{
  background:url('https://raw.githubusercontent.com/abish97/chea/master/US_Navy_111011-N-ED900-240_Fire_assessment_members_use_a_naval_firefighting_thermal_imager_(NFTI)_in_a_main_engine_room_to_gauge_temperatures_durin-min.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 100%;
}
